<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <header id="header">User Management System</header>
    <main id="main">
      <a class="link new-link" href="/new">New User</a>
      <table border="1" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>@Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user, index) { %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.gender %></td>
            <td><%= user.status %></td>
            <td>
              <a href="/show/<%= user.id; %>">edit</a>
              <a href="/destroy/<%= user.id; %>">delete</a>
            </td>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </main>
  </body>
</html>
